html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 3px 93px -6px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 3px 93px -6px rgba(0,0,0,0.35);
    box-shadow: 2px 3px 93px -6px rgba(0,0,0,0.35);
}