html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    width: 300px;
    height: 300px;
    background-color: black;
    border-radius: 10px;
    border: 1px solid black;
}